<font color><p id="notice">
  <div class="alert alert-success">
  <%= notice %>
  </div>
  </p></font>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
